*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background:;
    color:#CCCC99;
    /* T_T box-sizing hate me.. it is not working*/ 
  }
  
  h1, h2{
    text-align: center;
    padding: 4px;
    background: #84002E;
    
  }
  
  h3 {
    padding-top: 2vh;
    margin:  1px;
    text-align: center;
  }
  
  p{
    padding: 2px;
    margin: 2px;
  }
  
  .grid-item {
    border-radius: 2%;
    background: #666633;
    list-style-type: none;
    width: 26%;
    height: 40vh;
    margin: 5px;
    box-sizing: border-box;
  }
   
  .grid-item {
    float: left;
  }
  section:nth-child(2) {
    clear: both;
  }
  #grid-flex {
    display: flex;
    flex-wrap:  wrap;
  }
  
  .grid-item:nth-child(1) {
    width: 50%;
    height:40vh;
  }
  @media all and (max-width: 320px) {
    .grid-item:nth-child(1){
      width: 100%;
    }
    
    .grid-item {
      width: 46%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 768px){
  .grid-item:nth-child(2){
    width: 40%;
  }
  .grid-item:{
    width: 30%;
  }
}
